@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-white);
}

:root {
  /* color font */
  --color-white: #ffffff;
  --color-white2: #bababa;
  --color-white3: #cdcdcd;
  --color-black: #000000;

  /* background */
  --bg-white: #d7e2e4;
  --bg-grey: #cfd7d9;
  --bg-dark: #1e1e1e;
  --bg-btn-dark: #1e1e1e;
  --bg-input: #dcdde1;

  /* font size */
  --px-12: 12px;
  --px-14: 14px;
  --px-16: 16px;
  --px-18: 18px;
  --px-20: 20px;
  --px-28: 28px;
  --px-36: 36px;
  --px-46: 46px;

  /* font weight */
  --weight-300: 200;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
}

/* Navbar */

.navbar {
  background-color: transparent;
}

.navbar .container a {
  color: var(--color-white2);
}

.navbar .container .navbar-brand {
  opacity: 0%;
}

.navbar .container .collapse .navbar-nav .nav-item .link-nyala {
  font-weight: 400;
  border-bottom: 2px solid var(--color-white);
  color: var(--color-white);
}

.navbar .container .collapse .navbar-nav .nav-item a:hover {
  color: var(--color-white);
}

.navbar .container .collapse .navbar-nav .nav-item .signup {
  color: var(--color-white);
  background-color: transparent;
  border-color: var(--color-white);
}

.navbar .container .collapse .navbar-nav .nav-item .signup:hover {
  color: var(--color-black);
  background-color: var(--color-white);
  border-color: var(--color-white);
}

/* navbar scroll */

.sticky {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}

.sticky .container a {
  color: var(--color-black);
}

.sticky .container .navbar-brand {
  opacity: 100%;
  color: var(--color-black);
}

.sticky .container .collapse .navbar-nav .nav-item .link-nyala {
  font-weight: 400;
  border-bottom: 2px solid var(--color-black);
  color: var(--color-black);
}

.sticky .container .collapse .navbar-nav .nav-item .signup {
  color: var(--color-black);
  background-color: transparent;
  border-color: var(--color-black);
}

.sticky .container .collapse .navbar-nav .nav-item .signup:hover {
  color: var(--color-white);
  background-color: var(--color-black);
  border-color: var(--color-black);
}

/* section1 */
.section1 {
  height: 100vh;
  width: 100%;
  background-image: url(/images/bg-home.png);
  background-position: center;
  background-size: cover;
  padding-top: 180px;
}

.section1 p {
  color: var(--color-white);
  font-size: var(--px-16);
  font-weight: var(--weight-400);
}

.section1 .container .row .col-lg-6 .content .title-betterhome {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 6px 25px;
  border-radius: 34px;
  width: max-content;
}

.section1 .button-arrow {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 34px;
  width: max-content;
  padding: 10px 14px;
}

.section1 h2 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-white);
}

.section1 h1 {
  font-family: Poppins;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-white);
}

.section1 .arrow-img {
  width: 38px;
  height: 38px;
}

.section1 .icon {
  gap: 20px;
}

/* section2 */
.section2 {
  height: 700px;
}

.section2 .text {
  position: absolute;
  margin-left: 200px;
  z-index: 1;
}

.section2 .text p {
  font-size: var(--px-16);
  font-weight: var(--weight-400);
  color: var(--color-white);
}

.section2 .img-wrapper {
  height: 450px;
}

.section2 .img-wrapper img {
  position: relative;
}

.section2 .img-wrapper .laptop {
  width: 1100px;
  right: 9%;
  margin-top: -150px;
  height: auto;
}

.section2 .img-wrapper .left-img {
  bottom: 800px;
  z-index: -1;
  width: 222px;
  height: auto;
}

.section2 .img-wrapper .right-img {
  bottom: 800px;
  z-index: -1;
  width: 222px;
  left: 650px;
  height: auto;
}

.section2 .col-lg-6 h1 {
  font-size: var(--px-46);
  color: var(--color-black);
  font-weight: var(--weight-600);
  text-align: end;
  line-height: 60px;
}

.section2 .col-lg-6 p {
  color: var(--color-black);
  font-weight: var(--weight-400);
  font-size: var(--px-18);
}

.section2 .col-lg-6 a {
  text-decoration: none;
  background-color: var(--bg-btn-dark);
  color: var(--color-white);
  padding: 12px 25px;
  font-size: var(--px-14);
  border-radius: 11px;
}

/* section3 */
.section3 {
  height: 880px;
  background-color: var(--bg-dark);
}

.section3 .content {
  padding: 80px 20px;
}

.section3 .card {
  background: transparent;
  margin-left: 20px;
  width: 100%;
  height: 800px;
  border-top: 2px solid var(--color-white);
  border-left: 2px solid var(--color-white);
  border-radius: 0px;
  border-top-left-radius: 10px;
  padding: 60px 0px 0px 100px;
}

.section3 .card h1 {
  font-size: var(--px-36);
  color: var(--bg-white);
  font-weight: var(--weight-500);
}

.section3 .card .col-lg-1 {
  margin-top: 76px;
}

.section3 .card .col-lg-1 img {
  position: relative;
}

.section3 .card .col-lg-1 .img-icon1 {
  bottom: 360px;
}

.section3 .card .col-lg-1 .img-icon2 {
  bottom: 260px;
}

.section3 .card .col-lg-1 .img-icon3 {
  bottom: 154px;
}

.section3 .card .col-lg-6 .content-benefit {
  margin-left: 20px;
}

.section3 .card .col-lg-6 .benefit-2 {
  margin-top: 80px;
}

.section3 .card .col-lg-6 .benefit-3 {
  margin-top: 84px;
}

.section3 .card .col-lg-6 h2 {
  font-size: var(--px-28);
  color: var(--color-white);
  font-weight: var(--weight-500);
}

.section3 .card .col-lg-6 p {
  font-size: var(--px-18);
  color: var(--color-white);
  font-weight: var(--weight-300);
}

.section3 .card .col-lg-5 {
  justify-content: end;
  align-items: end;
  text-align: right;
}

.section3 .card .col-lg-5 img {
  position: relative;
}

.section3 .card .col-lg-5 .button {
  position: relative;
  bottom: 80px;
  right: 200px;
  z-index: 999;
}

.section3 .card .col-lg-5 .button p {
  color: var(--color-white);
}

.section3 .card .col-lg-5 button {
  background: var(--color-white);
  height: 30px;
  width: 60px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 0.5s;
}

.section3 .card .col-lg-5 button span {
  display: block;
  background: #999;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-left: 2px;
  transition: background 0.5s, margin-left 0.5s;
}

.active {
  background: rgb(53, 199, 109) !important;
}

.active span {
  background-color: rgb(255, 255, 255) !important;
  margin-left: 31px !important;
}

.on {
  opacity: 1 !important;
}

.section3 .card .col-lg-5 .img-lampu-on {
  bottom: 200px;
  right: 600px;
  opacity: 0;
  width: max-content;
  transition: opacity 0.5s;
  position: relative;
}

.section3 .card .col-lg-5 .img-lamp-2 {
  bottom: 500px;
}

/* footer */
.footer {
  background-color: #212529;
}

.footer .content {
  padding: 80px 0px;
}

.footer .container .content .title-footer h1 {
  color: var(--color-white);
  font-size: 40px;
  font-weight: 400;
  margin: 0px;
}

.footer .container .content .list-content .row .col-lg-3 .title-list-content h1 {
  color: var(--color-white);
  font-size: 28px;
  margin: 0px;
}

.footer .container .content .list-content .row .col-lg-3 .content-footer ul li {
  padding-top: 6px;
}

.footer .container .content .list-content .row .col-lg-3 .content-footer ul li a {
  text-decoration: none;
  color: var(--color-white);
}

.footer .container .content .list-content .row .col-lg-3.content-footer p {
  color: var(--color-white);
}

.footer .container .content .list-content .content-row {
  border-bottom: 3px solid var(--color-white);
}
