@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000000;
}

.navbar .container a {
  color: var(--bg-dark);
}

.navbar .container .collapse .navbar-nav .nav-active {
  font-weight: 400;
  border-bottom: 2px solid var(--color-black);
  color: var(--color-black);
}

.navbar .container .collapse .navbar-nav .nav-item .signup {
  color: var(--color-black);
  background-color: transparent;
  border-color: var(--color-black);
}

@media screen and (max-width: 479px) {
  /* add modal */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register button i,
  .modal .modal-dialog .modal-body .row .form-login button i {
    background-color: white;
  }

  .modal {
    background-color: rgba(122, 122, 122, 0.397);
    backdrop-filter: blur(2px);
  }

  .show {
    display: block !important;
  }

  /* modal login */

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-login .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log {
    margin-top: 1rem;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group {
    margin-left: auto;
    margin-right: auto;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  /* modal Registered */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    background-color: #d6e1e2;
    background-image: url(../images/bg-kotak.png);
    background-position: center;
    background-size: cover;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have,
  .modal .modal-dialog .modal-body .row .form-login .container .login {
    height: max-content;
    margin-top: 40px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row {
    gap: 10px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group input,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  .modal .modal-dialog .modal-body .row .bg-exit {
    display: none;
  }

  /* section1 */
  .section1 {
    background-color: #d7e2e4;
    overflow: hidden;
    padding-bottom: 100px;
    padding-top: 120px;
  }

  .section1 .container .content .row {
    display: block;
  }

  .section1 .col-sm-12 .top .images {
    display: none;
  }

  /* card pembayaran */
  .section1 .col-sm-12:last-child {
    display: flex;
    justify-content: center;
  }

  .section1 .content .bottom {
    background-image: transparent;
  }

  .section1 .content .bottom .p-number {
    font-size: 18px;
    font-weight: 400;
  }

  .section1 .content .bottom input {
    border: none;
    width: 150px;
    background: transparent;
    border-bottom: 1px solid #000000;
    outline: none;
    margin-top: 1rem;
  }

  .section1 .content .bottom .input-large {
    width: 150px;
  }

  .section1 .content .bottom .input-group {
    margin-top: 25px;
  }

  .section1 .content .bottom .images-icon {
    width: 0;
    padding-left: 10px;
  }

  .section1 .content .bottom .images-icon p {
    font-size: 12px;
    color: #adadadbd;
  }

  .section1 .content .bottom .images-icon .number-phone {
    font-size: 16px;
    color: #000000;
  }

  .section1 .content .bottom .p-number-2 {
    margin-top: 50px;
  }

  .section1 .content .bottom .right ul {
    gap: 18px;
  }

  .section1 .content .bottom .right li button {
    border-radius: 34px;
    font-size: 14px;
    padding: 12px 32px;
    border: 1px solid #bfc9cb;
    gap: 22px;
  }

  .section1 .content .bottom .right li button:last-child .images-icon img {
    width: 17px;
    height: 18px;
  }

  .section1 .content .bottom .right li button.active {
    background-color: #ffffff;
    color: #000000;
  }

  .section1 .content .bottom .select .input-message {
    margin-top: 2rem;
  }

  .section1 .content .bottom .select .input-message .message-input {
    width: 170px;
  }

  .section1 .col-sm-12 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    position: relative;
  }

  .section1 .col-sm-12 .wrapper {
    border: none;
  }

  .section1 .col-sm-12 .wrapper .img-card {
    position: relative;
    width: 0;
    right: 100px;
    bottom: 420px;
  }

  .section1 .col-sm-12 .wrapper .img-card .card-bg {
    display: none;
  }

  .section1 .col-sm-12 .wrapper .card-input {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  .section1 .col-sm-12 .wrapper .card-forum {
    z-index: 1;
    width: 300px;
    background-color: #2a2a2a;
    border-radius: 10px;
    border: 4px solid #ffffff;
    padding: 40px 40px;
    color: #ffffff;
  }

  .section1 .col-sm-12 .wrapper .card-forum h2 {
    font-weight: 400;
    font-size: 30px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info {
    line-height: 0px;
    margin-top: 30px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info p {
    color: #ffffffbd;
    font-size: 14px;
    font-weight: 400;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info h4 {
    font-size: 18px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .button-wrapper .images-icon {
    position: relative;
    width: 0;
    top: 14px;
    left: 14px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .button-wrapper .pay-btn {
    color: #000000;
    font-size: 11px;
    font-weight: 500;
    padding: 18px 22px 18px 38px;
    background-color: #ffffff;
    border-radius: 25px;
    text-decoration: none;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .bottom-btn {
    text-decoration: none;
    color: #2a2a2a;
    background-color: #ffffff;
    width: 100%;
    height: 48px;
    border-radius: 75px;
    font-size: 14px;
    font-weight: 500;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .bottom-btn span {
    font-weight: 600;
  }
}

@media screen and (min-width: 480px) and (max-width: 575px) {
  /* add modal */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register button i,
  .modal .modal-dialog .modal-body .row .form-login button i {
    background-color: white;
  }

  .modal {
    background-color: rgba(122, 122, 122, 0.397);
    backdrop-filter: blur(2px);
  }

  .show {
    display: block !important;
  }

  /* modal login */

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-login .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account {
    display: none;
  }
  .modal .modal-dialog .modal-body .row .form-login .container .form-log {
    margin-top: 1rem;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group {
    margin-left: auto;
    margin-right: auto;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  /* modal Registered */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    background-color: #d6e1e2;
    background-image: url(../images/bg-kotak.png);
    background-position: center;
    background-size: cover;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have,
  .modal .modal-dialog .modal-body .row .form-login .container .login {
    height: max-content;
    margin-top: 40px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row {
    gap: 10px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group input,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  .modal .modal-dialog .modal-body .row .bg-exit {
    display: none;
  }
  /* add modal */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register button i,
  .modal .modal-dialog .modal-body .row .form-login button i {
    background-color: white;
  }

  .modal {
    background-color: rgba(122, 122, 122, 0.397);
    backdrop-filter: blur(2px);
  }

  .show {
    display: block !important;
  }

  /* modal login */

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-login .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group {
    margin-left: auto;
    margin-right: auto;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  /* modal Registered */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    background-color: #d6e1e2;
    background-image: url(../images/bg-kotak.png);
    background-position: center;
    background-size: cover;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have,
  .modal .modal-dialog .modal-body .row .form-login .container .login {
    height: max-content;
    margin-top: 40px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row {
    gap: 10px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group input,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  .modal .modal-dialog .modal-body .row .bg-exit {
    display: none;
  }

  /* section1 */
  .section1 {
    background-color: #d7e2e4;
    overflow: hidden;
    padding-bottom: 100px;
    padding-top: 150px;
  }

  .section1 .container .content .row {
    display: block;
  }

  .section1 .col-sm-12 .top .images {
    display: none;
  }

  /* card pembayaran */
  .section1 .col-sm-12:last-child {
    display: flex;
    justify-content: center;
  }

  .section1 .content .bottom {
    background-image: transparent;
  }

  .section1 .content .bottom .p-number {
    font-size: 18px;
    font-weight: 400;
  }

  .section1 .content .bottom input {
    border: none;
    width: 174px;
    background: transparent;
    border-bottom: 1px solid #000000;
    outline: none;
    margin-top: 1rem;
  }

  .section1 .content .bottom .input-large {
    width: 174px;
  }

  .section1 .content .bottom .input-group {
    margin-top: 25px;
  }

  .section1 .content .bottom .images-icon {
    width: 0;
    padding-left: 10px;
  }

  .section1 .content .bottom .images-icon p {
    font-size: 14px;
    color: #adadadbd;
  }

  .section1 .content .bottom .images-icon .number-phone {
    font-size: 16px;
    color: #000000;
  }

  .section1 .content .bottom .p-number-2 {
    margin-top: 50px;
  }

  .section1 .content .bottom .right ul {
    gap: 18px;
  }

  .section1 .content .bottom .right li button {
    border-radius: 34px;
    font-size: 14px;
    padding: 12px 32px;
    border: 1px solid #bfc9cb;
    gap: 22px;
  }

  .section1 .content .bottom .right li button:last-child .images-icon img {
    width: 17px;
    height: 18px;
  }

  .section1 .content .bottom .right li button.active {
    background-color: #ffffff;
    color: #000000;
  }

  .section1 .content .bottom .select .input-message {
    margin-top: 2rem;
  }

  .section1 .content .bottom .select .input-message .message-input {
    width: 170px;
  }

  .section1 .col-sm-12 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    position: relative;
  }

  .section1 .col-sm-12 .wrapper {
    border: none;
    background: transparent;
    width: 564px;
    height: 800px;
    margin-left: 40px;
    padding-left: 150px;
  }

  .section1 .col-sm-12 .wrapper .img-card {
    position: relative;
    width: 0;
    right: 100px;
    bottom: 420px;
  }

  .section1 .col-sm-12 .wrapper .img-card .card-bg {
    width: 400px;
    height: 500px;
    background-color: #2a2a2a;
    border-radius: 10px;
    rotate: -1.78deg;
  }

  .section1 .col-sm-12 .wrapper .card-input {
    position: relative;
    top: 70px;
    right: 80px;
  }

  .section1 .col-sm-12 .wrapper .card-forum {
    z-index: 1;
    width: 400px;
    background-color: #2a2a2a;
    border-radius: 10px;
    border: 4px solid #ffffff;
    padding: 40px 40px;
    color: #ffffff;
  }

  .section1 .col-sm-12 .wrapper .card-forum h2 {
    font-weight: 400;
    font-size: 30px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info {
    line-height: 0px;
    margin-top: 30px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info p {
    color: #ffffffbd;
    font-size: 14px;
    font-weight: 400;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info h4 {
    font-size: 18px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .button-wrapper .images-icon {
    position: relative;
    width: 0;
    top: 14px;
    left: 14px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .button-wrapper .pay-btn {
    color: #000000;
    font-size: 11px;
    font-weight: 500;
    padding: 18px 22px 18px 38px;
    background-color: #ffffff;
    border-radius: 25px;
    text-decoration: none;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .bottom-btn {
    text-decoration: none;
    color: #2a2a2a;
    background-color: #ffffff;
    width: 100%;
    height: 48px;
    border-radius: 75px;
    font-size: 14px;
    font-weight: 500;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .bottom-btn span {
    font-weight: 600;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register button i,
  .modal .modal-dialog .modal-body .row .form-login button i {
    background-color: white;
  }

  .modal {
    background-color: rgba(122, 122, 122, 0.397);
    backdrop-filter: blur(2px);
  }

  .show {
    display: block !important;
  }

  /* modal login */
  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-login .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log {
    margin-top: 1rem;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group {
    margin-left: auto;
    margin-right: auto;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  /* modal Registered */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    background-color: #d6e1e2;
    background-image: url(../images/bg-kotak.png);
    background-position: center;
    background-size: cover;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have,
  .modal .modal-dialog .modal-body .row .form-login .container .login {
    height: max-content;
    margin-top: 40px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row {
    gap: 10px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group input,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  .modal .modal-dialog .modal-body .row .bg-exit {
    display: none;
  }

  /* section1 */
  .section1 {
    background-color: #d7e2e4;
    overflow: hidden;
    padding-bottom: 100px;
    padding-top: 150px;
  }

  .section1 .container .content .row {
    display: block;
  }

  .section1 .col-sm-12 .top .images {
    display: none;
  }

  /* card pembayaran */
  .section1 .col-sm-12:last-child {
    display: flex;
    justify-content: center;
  }

  .section1 .content .bottom {
    background-image: transparent;
  }

  .section1 .content .bottom .p-number {
    font-size: 18px;
    font-weight: 400;
  }

  .section1 .content .bottom input {
    border: none;
    width: 220px;
    background: transparent;
    border-bottom: 1px solid #000000;
    outline: none;
    margin-top: 1rem;
  }

  .section1 .content .bottom .input-large {
    width: 218px;
  }

  .section1 .content .bottom .input-group {
    margin-top: 25px;
  }

  .section1 .content .bottom .images-icon {
    width: 0;
    padding-left: 10px;
  }

  .section1 .content .bottom .images-icon p {
    font-size: 14px;
    color: #adadadbd;
  }

  .section1 .content .bottom .images-icon .number-phone {
    font-size: 16px;
    color: #000000;
  }

  .section1 .content .bottom .p-number-2 {
    margin-top: 50px;
  }

  .section1 .content .bottom .right ul {
    gap: 18px;
  }

  .section1 .content .bottom .right li button {
    border-radius: 34px;
    font-size: 14px;
    padding: 12px 32px;
    border: 1px solid #bfc9cb;
    gap: 22px;
  }

  .section1 .content .bottom .right li button:last-child .images-icon img {
    width: 17px;
    height: 18px;
  }

  .section1 .content .bottom .right li button.active {
    background-color: #ffffff;
    color: #000000;
  }

  .section1 .content .bottom .select .input-message {
    margin-left: auto;
  }

  .section1 .content .bottom .select .input-message .message-input {
    width: 150px;
  }

  .section1 .col-sm-12 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    position: relative;
  }

  .section1 .col-sm-12 .wrapper {
    border: none;
    background: transparent;
    width: 564px;
    height: 800px;
    margin-left: 40px;
    padding-left: 150px;
  }

  .section1 .col-sm-12 .wrapper .img-card {
    position: relative;
    width: 0;
    right: 100px;
    bottom: 420px;
  }

  .section1 .col-sm-12 .wrapper .img-card .card-bg {
    width: 400px;
    height: 500px;
    background-color: #2a2a2a;
    border-radius: 10px;
    rotate: -1.78deg;
  }

  .section1 .col-sm-12 .wrapper .card-input {
    position: relative;
    top: 70px;
    right: 80px;
  }

  .section1 .col-sm-12 .wrapper .card-forum {
    z-index: 1;
    width: 400px;
    background-color: #2a2a2a;
    border-radius: 10px;
    border: 4px solid #ffffff;
    padding: 40px 40px;
    color: #ffffff;
  }

  .section1 .col-sm-12 .wrapper .card-forum h2 {
    font-weight: 400;
    font-size: 30px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info {
    line-height: 0px;
    margin-top: 30px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info p {
    color: #ffffffbd;
    font-size: 14px;
    font-weight: 400;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info h4 {
    font-size: 18px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .button-wrapper .images-icon {
    position: relative;
    width: 0;
    top: 14px;
    left: 14px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .button-wrapper .pay-btn {
    color: #000000;
    font-size: 11px;
    font-weight: 500;
    padding: 18px 22px 18px 38px;
    background-color: #ffffff;
    border-radius: 25px;
    text-decoration: none;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .bottom-btn {
    text-decoration: none;
    color: #2a2a2a;
    background-color: #ffffff;
    width: 100%;
    height: 48px;
    border-radius: 75px;
    font-size: 14px;
    font-weight: 500;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .bottom-btn span {
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* add modal */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register button i,
  .modal .modal-dialog .modal-body .row .form-login button i {
    background-color: white;
  }

  .modal {
    background-color: rgba(122, 122, 122, 0.397);
    backdrop-filter: blur(2px);
  }

  .show {
    display: block !important;
  }

  /* modal login */

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-login .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group {
    margin-left: auto;
    margin-right: auto;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  /* modal Registered */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    background-color: #d6e1e2;
    background-image: url(../images/bg-kotak.png);
    background-position: center;
    background-size: cover;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have,
  .modal .modal-dialog .modal-body .row .form-login .container .login {
    height: max-content;
    margin-top: 40px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row {
    gap: 10px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group input,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  .modal .modal-dialog .modal-body .row .bg-exit {
    display: none;
  }

  /* section1 */
  .section1 {
    background-color: #d7e2e4;
    overflow: hidden;
    padding-bottom: 100px;
    padding-top: 150px;
  }

  .section1 .container .content .row {
    display: block;
  }

  .section1 .col-sm-12 {
    overflow: hidden;
  }

  .section1 .col-sm-12 .top .images {
    margin-left: 4rem;
  }

  /* card pembayaran */
  .section1 .col-sm-12:last-child {
    display: flex;
    justify-content: center;
  }

  .section1 .content .bottom {
    background-image: transparent;
  }

  .section1 .content .bottom .p-number {
    font-size: 18px;
    font-weight: 400;
  }

  .section1 .content .bottom input {
    border: none;
    width: 220px;
    background: transparent;
    border-bottom: 1px solid #000000;
    outline: none;
    margin-top: 1rem;
  }

  .section1 .content .bottom .input-large {
    width: 288px;
  }

  .section1 .content .bottom .input-group {
    margin-top: 25px;
  }

  .section1 .content .bottom .images-icon {
    width: 0;
    padding-left: 10px;
  }

  .section1 .content .bottom .images-icon p {
    font-size: 14px;
    color: #adadadbd;
  }

  .section1 .content .bottom .images-icon .number-phone {
    font-size: 16px;
    color: #000000;
  }

  .section1 .content .bottom .p-number-2 {
    margin-top: 50px;
  }

  .section1 .content .bottom .right ul {
    gap: 18px;
  }

  .section1 .content .bottom .right li button {
    border-radius: 34px;
    font-size: 14px;
    padding: 12px 32px;
    border: 1px solid #bfc9cb;
    gap: 22px;
  }

  .section1 .content .bottom .right li button:last-child .images-icon img {
    width: 17px;
    height: 18px;
  }

  .section1 .content .bottom .right li button.active {
    background-color: #ffffff;
    color: #000000;
  }

  .section1 .content .bottom .select .input-message {
    margin-left: auto;
  }

  .section1 .content .bottom .select .input-message .message-input {
    width: 150px;
  }

  .section1 .col-sm-12 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    position: relative;
  }

  .section1 .col-sm-12 .wrapper {
    border: none;
    background: transparent;
    width: 564px;
    height: 800px;
    margin-left: 40px;
    padding-left: 150px;
  }

  .section1 .col-sm-12 .wrapper .img-card {
    position: relative;
    width: 0;
    right: 100px;
    bottom: 420px;
  }

  .section1 .col-sm-12 .wrapper .img-card .card-bg {
    width: 400px;
    height: 500px;
    background-color: #2a2a2a;
    border-radius: 10px;
    rotate: -1.78deg;
  }

  .section1 .col-sm-12 .wrapper .card-input {
    position: relative;
    top: 70px;
    right: 80px;
  }

  .section1 .col-sm-12 .wrapper .card-forum {
    z-index: 1;
    width: 400px;
    background-color: #2a2a2a;
    border-radius: 10px;
    border: 4px solid #ffffff;
    padding: 40px 40px;
    color: #ffffff;
  }

  .section1 .col-sm-12 .wrapper .card-forum h2 {
    font-weight: 400;
    font-size: 30px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info {
    line-height: 0px;
    margin-top: 30px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info p {
    color: #ffffffbd;
    font-size: 14px;
    font-weight: 400;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info h4 {
    font-size: 18px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .button-wrapper .images-icon {
    position: relative;
    width: 0;
    top: 14px;
    left: 14px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .button-wrapper .pay-btn {
    color: #000000;
    font-size: 11px;
    font-weight: 500;
    padding: 18px 22px 18px 38px;
    background-color: #ffffff;
    border-radius: 25px;
    text-decoration: none;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .bottom-btn {
    text-decoration: none;
    color: #2a2a2a;
    background-color: #ffffff;
    width: 100%;
    height: 48px;
    border-radius: 75px;
    font-size: 14px;
    font-weight: 500;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .bottom-btn span {
    font-weight: 600;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* add modal */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register button i,
  .modal .modal-dialog .modal-body .row .form-login button i {
    background-color: white;
  }

  .modal {
    background-color: rgba(122, 122, 122, 0.397);
    backdrop-filter: blur(2px);
  }

  .show {
    display: block !important;
  }

  /* modal login */

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-login .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group {
    margin-left: auto;
    margin-right: auto;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  /* modal Registered */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    background-color: #d6e1e2;
    background-image: url(../images/bg-kotak.png);
    background-position: center;
    background-size: cover;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have,
  .modal .modal-dialog .modal-body .row .form-login .container .login {
    height: max-content;
    margin-top: 40px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row {
    gap: 10px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group input,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  .modal .modal-dialog .modal-body .row .bg-exit {
    display: none;
  }

  /* section1 */
  .section1 {
    background-color: #d7e2e4;
    overflow: hidden;
    padding-bottom: 100px;
    padding-top: 150px;
  }

  .section1 .container .content .row {
    display: block;
  }

  .section1 .col-sm-12 {
    overflow: hidden;
  }

  .section1 .col-sm-12 .top .images {
    margin-left: 4rem;
  }

  /* card pembayaran */
  .section1 .col-sm-12:last-child {
    display: flex;
    justify-content: center;
  }

  .section1 .content .bottom {
    background-image: transparent;
  }

  .section1 .content .bottom .p-number {
    font-size: 18px;
    font-weight: 400;
  }

  .section1 .content .bottom input {
    border: none;
    width: 220px;
    background: transparent;
    border-bottom: 1px solid #000000;
    outline: none;
    margin-top: 1rem;
  }

  .section1 .content .bottom .input-large {
    width: 288px;
  }

  .section1 .content .bottom .input-group {
    margin-top: 25px;
  }

  .section1 .content .bottom .images-icon {
    width: 0;
    padding-left: 10px;
  }

  .section1 .content .bottom .images-icon p {
    font-size: 14px;
    color: #adadadbd;
  }

  .section1 .content .bottom .images-icon .number-phone {
    font-size: 16px;
    color: #000000;
  }

  .section1 .content .bottom .p-number-2 {
    margin-top: 50px;
  }

  .section1 .content .bottom .right ul {
    gap: 18px;
  }

  .section1 .content .bottom .right li button {
    border-radius: 34px;
    font-size: 14px;
    padding: 12px 32px;
    border: 1px solid #bfc9cb;
    gap: 22px;
  }

  .section1 .content .bottom .right li button:last-child .images-icon img {
    width: 17px;
    height: 18px;
  }

  .section1 .content .bottom .right li button.active {
    background-color: #ffffff;
    color: #000000;
  }

  .section1 .content .bottom .select .input-message {
    margin-left: auto;
  }

  .section1 .content .bottom .select .input-message .message-input {
    width: 150px;
  }

  .section1 .col-sm-12 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    position: relative;
  }

  .section1 .col-sm-12 .wrapper {
    border: none;
    background: transparent;
    width: 564px;
    height: 800px;
    margin-left: 40px;
    padding-left: 150px;
  }

  .section1 .col-sm-12 .wrapper .img-card {
    position: relative;
    width: 0;
    right: 100px;
    bottom: 420px;
  }

  .section1 .col-sm-12 .wrapper .img-card .card-bg {
    width: 400px;
    height: 500px;
    background-color: #2a2a2a;
    border-radius: 10px;
    rotate: -1.78deg;
  }

  .section1 .col-sm-12 .wrapper .card-input {
    position: relative;
    top: 70px;
    right: 80px;
  }

  .section1 .col-sm-12 .wrapper .card-forum {
    z-index: 1;
    width: 400px;
    background-color: #2a2a2a;
    border-radius: 10px;
    border: 4px solid #ffffff;
    padding: 40px 40px;
    color: #ffffff;
  }

  .section1 .col-sm-12 .wrapper .card-forum h2 {
    font-weight: 400;
    font-size: 30px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info {
    line-height: 0px;
    margin-top: 30px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info p {
    color: #ffffffbd;
    font-size: 14px;
    font-weight: 400;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info h4 {
    font-size: 18px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .button-wrapper .images-icon {
    position: relative;
    width: 0;
    top: 14px;
    left: 14px;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .button-wrapper .pay-btn {
    color: #000000;
    font-size: 11px;
    font-weight: 500;
    padding: 18px 22px 18px 38px;
    background-color: #ffffff;
    border-radius: 25px;
    text-decoration: none;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .bottom-btn {
    text-decoration: none;
    color: #2a2a2a;
    background-color: #ffffff;
    width: 100%;
    height: 48px;
    border-radius: 75px;
    font-size: 14px;
    font-weight: 500;
  }

  .section1 .col-sm-12 .wrapper .card-forum .payment-info .bottom-btn span {
    font-weight: 600;
  }
}

@media screen and (min-width: 1200px) {
  .modal .modal-dialog .modal-body .row .form-register button i,
  .modal .modal-dialog .modal-body .row .form-login button i {
    display: none;
  }

  /* add modal */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    display: none;
  }

  .modal {
    background-color: rgba(122, 122, 122, 0.397);
    backdrop-filter: blur(2px);
  }

  .show {
    display: block !important;
  }

  /* modal login */
  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account p {
    font-size: 8px;
    border-radius: 70px;
    background-color: #2a2a2a;
    color: white;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account img {
    position: absolute;
    margin-left: 22px;
    margin-top: -15px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-login .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account button {
    font-size: 12px;
    border-radius: 50px;
    background-color: #2a2a2a;
    color: white;
    position: absolute;
    z-index: 1;
    transform: rotate(-90deg);
    margin-left: 30px;
    width: max-content;
    margin-top: -40px;
    transition: 0.2s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account button:hover {
    transform: rotate(-86deg);
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group {
    margin-left: auto;
    margin-right: auto;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  /* modal Registered */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    background-color: #d6e1e2;
    background-image: url(../images/bg-kotak.png);
    background-position: center;
    background-size: cover;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have,
  .modal .modal-dialog .modal-body .row .form-login .container .login {
    height: max-content;
    margin-top: 40px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account p {
    font-size: 8px;
    border-radius: 50px;
    background-color: #2a2a2a;
    color: white;
    transform: rotate(-8deg);
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account img {
    position: absolute;
    margin-left: 45px;
    margin-top: -15px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account button {
    font-size: 12px;
    border-radius: 50px;
    background-color: #2a2a2a;
    color: white;
    position: absolute;
    z-index: 1;
    transform: rotate(-90deg);
    margin-left: 80px;
    width: max-content;
    margin-top: -40px;
    transition: 0.2s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account button:hover {
    transform: rotate(-80deg);
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row {
    gap: 10px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group input,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  .modal .modal-dialog .modal-body .row .bg-exit {
    background-image: url(../images/bg-modal.png);
    width: 100%;
    height: 70vh;
    background-position: center;
    background-repeat: repeat;
  }

  .modal .modal-dialog .modal-body .row .bg-exit button i {
    background-color: white;
  }

  /* section1 */
  .section1 {
    background-color: #d7e2e4;
    overflow: hidden;
    padding-bottom: 100px;
    padding-top: 150px;
  }

  .section1 .col-xl-7 {
    overflow: hidden;
  }

  .section1 .content .bottom {
    background-image: url(../assets/images/checkout-line-bg.png);
  }

  .section1 .content .bottom .p-number {
    font-size: 18px;
    font-weight: 400;
  }

  .section1 .content .bottom input {
    border: none;
    width: 220px;
    background: transparent;
    border-bottom: 1px solid #000000;
    outline: none;
    margin-top: 1rem;
  }

  .section1 .content .bottom .input-large {
    width: 288px;
  }

  .section1 .content .bottom .input-group {
    margin-top: 25px;
  }

  .section1 .content .bottom .images-icon {
    width: 0;
    padding-left: 10px;
  }

  .section1 .content .bottom .images-icon p {
    font-size: 14px;
    color: #adadadbd;
  }

  .section1 .content .bottom .images-icon .number-phone {
    font-size: 16px;
    color: #000000;
  }

  .section1 .content .bottom .p-number-2 {
    margin-top: 50px;
  }

  .section1 .content .bottom .right ul {
    gap: 18px;
  }

  .section1 .content .bottom .right li button {
    border-radius: 34px;
    font-size: 14px;
    padding: 12px 32px;
    border: 1px solid #bfc9cb;
    gap: 22px;
  }

  .section1 .content .bottom .right li button:last-child .images-icon img {
    width: 17px;
    height: 18px;
  }

  .section1 .content .bottom .right li button.active {
    background-color: #ffffff;
    color: #000000;
  }

  .section1 .content .bottom .select .input-message {
    margin-left: auto;
  }

  .section1 .content .bottom .select .input-message .message-input {
    width: 150px;
  }

  .section1 .col-xl-5 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    position: relative;
  }

  .section1 .col-xl-5 .wrapper {
    border: none;
    background: transparent;
    width: 564px;
    height: 800px;
    margin-left: 40px;
    padding-left: 150px;
  }

  .section1 .col-xl-5 .wrapper .img-card {
    position: relative;
    width: 0;
    right: 100px;
    bottom: 420px;
  }

  .section1 .col-xl-5 .wrapper .img-card .card-bg {
    width: 400px;
    height: 500px;
    background-color: #2a2a2a;
    border-radius: 10px;
    rotate: -1.78deg;
  }

  .section1 .col-xl-5 .wrapper .card-input {
    position: relative;
    top: 70px;
    right: 80px;
  }

  .section1 .col-xl-5 .wrapper .card-forum {
    z-index: 1;
    width: 400px;
    background-color: #2a2a2a;
    border-radius: 10px;
    border: 4px solid #ffffff;
    padding: 40px 40px;
    color: #ffffff;
  }

  .section1 .col-xl-5 .wrapper .card-forum h2 {
    font-weight: 400;
    font-size: 30px;
  }

  .section1 .col-xl-5 .wrapper .card-forum .payment-info {
    line-height: 0px;
    margin-top: 30px;
  }

  .section1 .col-xl-5 .wrapper .card-forum .payment-info p {
    color: #ffffffbd;
    font-size: 14px;
    font-weight: 400;
  }

  .section1 .col-xl-5 .wrapper .card-forum .payment-info h4 {
    font-size: 18px;
  }

  .section1 .col-xl-5 .wrapper .card-forum .payment-info .button-wrapper .images-icon {
    position: relative;
    width: 0;
    top: 14px;
    left: 14px;
  }

  .section1 .col-xl-5 .wrapper .card-forum .payment-info .button-wrapper .pay-btn {
    color: #000000;
    font-size: 11px;
    font-weight: 500;
    padding: 18px 22px 18px 38px;
    background-color: #ffffff;
    border-radius: 25px;
    text-decoration: none;
  }

  .section1 .col-xl-5 .wrapper .card-forum .payment-info .bottom-btn {
    text-decoration: none;
    color: #2a2a2a;
    background-color: #ffffff;
    width: 100%;
    height: 48px;
    border-radius: 75px;
    font-size: 14px;
    font-weight: 500;
  }

  .section1 .col-xl-5 .wrapper .card-forum .payment-info .bottom-btn span {
    font-weight: 600;
  }
}
