@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "HolidayFree";
  src: url("https://db.onlinewebfonts.com/t/8355c36f0e63c4143084a3c6a4c5e9d8.eot");
  src: url("https://db.onlinewebfonts.com/t/8355c36f0e63c4143084a3c6a4c5e9d8.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/8355c36f0e63c4143084a3c6a4c5e9d8.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/8355c36f0e63c4143084a3c6a4c5e9d8.woff") format("woff"), url("https://db.onlinewebfonts.com/t/8355c36f0e63c4143084a3c6a4c5e9d8.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/8355c36f0e63c4143084a3c6a4c5e9d8.svg#HolidayFree") format("svg");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000000;
}


@media screen and (max-width: 479px) {
  /* add modal */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register button i,
  .modal .modal-dialog .modal-body .row .form-login button i {
    background-color: white;
  }

  .modal {
    background-color: rgba(122, 122, 122, 0.397);
    backdrop-filter: blur(2px);
  }

  .show {
    display: block !important;
  }

  /* modal login */

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-login .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log {
    margin-top: 1rem;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group {
    margin-left: auto;
    margin-right: auto;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  /* modal Registered */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    background-color: #d6e1e2;
    background-image: url(../images/bg-kotak.png);
    background-position: center;
    background-size: cover;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have,
  .modal .modal-dialog .modal-body .row .form-login .container .login {
    height: max-content;
    margin-top: 40px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row {
    gap: 10px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group input,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  .modal .modal-dialog .modal-body .row .bg-exit {
    display: none;
  }

  /* section1 */
  .section1 {
    height: auto;
    background-color: #d7e2e4;
    overflow: hidden;
  }

  .section1 .col-lg-4,
  .section1 .col-lg-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .section1 .top {
    background-color: #d7e2e4;
    width: 100%;
    padding-top: 140px;
  }

  .section1 .top .bg-black {
    width: 100%;
    height: 600px;
    position: absolute;
    background-color: #2a2a2a;
    top: 0px;
  }

  .section1 .top .text {
    color: #ffffff;
  }

  .section1 .top .text a {
    font-size: 12px;
    color: #2a2a2a;
    background-color: #ffffff;
    padding: 8px 20px;
    border-radius: 26px;
  }

  .section1 .top .text h2 {
    font-size: 40px;
    font-weight: 600;
  }

  .section1 .top .text h2 span {
    font-family: "HolidayFree", sans-serif;
    font-weight: 500;
  }

  .section1 .top .text h3 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 38px;
  }

  .section1 .col-lg-4 .images {
    display: flex;
    justify-content: center;
  }

  .section1 .buy-btn {
    position: relative;
    top: 120px;
    z-index: 10;
  }

  .section1 .col-lg-4 .images .cctv {
    width: 450px;
    height: auto;
  }

  .section1 .col-lg-4 p {
    font-weight: 200;
    color: #000000 !important;
    font-size: 16px;
  }

  .section1 .col-lg-4 .button {
    gap: 20px;
  }

  .section1 .col-lg-4 .button .button-left {
    padding: 8px 20px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 27px;
    color: #000000;
  }

  .section1 .col-lg-4 .button .button-left button {
    color: #000000;
    font-size: 14px;
    background-color: transparent;
    border: none;
  }

  .section1 .buy-btn .button .button-right {
    padding: 8px 8px 8px 14px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 27px;
    color: #000000;
    transition: 0.3s ease-in-out;
    gap: 10px;
  }

  .section1 .buy-btn .button .button-right a{
    color: black;
    text-decoration: none;
  }

  .section1 .buy-btn .button .button-right:hover {
    transform: scale(0.9);
  }

  .section1 .col-lg-4 .button .button-right .arrow-right-column {
    background-color: #000000;
    color: white;
    width: max-content;
    padding: 1px 5px 0px 5px;
    border-radius: 60px;
  }

  .section1 .bottom {
    height: 600px;
    width: 100%;
  }

  .section1 .bottom h1 {
    font-size: 60px;
  }

  .section1 .bottom .wrapper-btn {
    margin-top: 60px;
    position: relative;
    top: -20px;
  }

  .section1 .bottom a {
    color: white;
    text-decoration: none;
    background-color: #000000;
    padding: 10px 28px;
    border-radius: 34px;
    font-size: 16px;
    font-weight: 500;
  }

  .section1 .bottom .card {
    background: transparent;
    border-radius: 0;
  }

  .section1 .bottom .card-top {
    border: none;
    /* border-bottom: 0.5px solid #000000;
    border-right: 0.5px solid #000000; */
  }

  .section1 .bottom .card-top .text {
    position: relative;
    top: 130px;
  }

  .section1 .bottom .card-top .text p {
    margin: 0px;
  }

  .section1 .bottom .card-bottom {
    border: none;
    /* border-right: 0.5px solid #000000; */
  }

  .section1 .bottom .card-bottom .text {
    padding: 20px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 148px;
  }

  .section1 .bottom .card-bottom .text h3 {
    font-size: 20px;
  }

  .section1 .bottom .card-bottom .text p {
    color: #737373b2;
    font-size: 16px;
  }

  .section1 .bottom .col-rectangle {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section1 .bottom .col-rectangle .images-right {
    display: none;
  }

  .section1 .bottom .col-rectangle h1 {
    font-family: "Holidayfree";
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    rotate: -4deg;
    margin-top: -560px;
    background: -webkit-linear-gradient(#575757, #acacac, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: max-content;
    padding: 12px 0px 12px 0px;
  }
}

@media screen and (min-width: 480px) and (max-width: 575px) {

  /* add modal */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register button i,
  .modal .modal-dialog .modal-body .row .form-login button i {
    background-color: white;
  }

  .modal {
    background-color: rgba(122, 122, 122, 0.397);
    backdrop-filter: blur(2px);
  }

  .show {
    display: block !important;
  }

  /* modal login */

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-login .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account {
    display: none;
  }
  .modal .modal-dialog .modal-body .row .form-login .container .form-log {
    margin-top: 1rem;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group {
    margin-left: auto;
    margin-right: auto;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  /* modal Registered */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    background-color: #d6e1e2;
    background-image: url(../images/bg-kotak.png);
    background-position: center;
    background-size: cover;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have,
  .modal .modal-dialog .modal-body .row .form-login .container .login {
    height: max-content;
    margin-top: 40px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row {
    gap: 10px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group input,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  .modal .modal-dialog .modal-body .row .bg-exit {
    display: none;
  }
  /* add modal */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register button i,
  .modal .modal-dialog .modal-body .row .form-login button i {
    background-color: white;
  }

  .modal {
    background-color: rgba(122, 122, 122, 0.397);
    backdrop-filter: blur(2px);
  }

  .show {
    display: block !important;
  }

  /* modal login */

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-login .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group {
    margin-left: auto;
    margin-right: auto;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  /* modal Registered */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    background-color: #d6e1e2;
    background-image: url(../images/bg-kotak.png);
    background-position: center;
    background-size: cover;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have,
  .modal .modal-dialog .modal-body .row .form-login .container .login {
    height: max-content;
    margin-top: 40px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row {
    gap: 10px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group input,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  .modal .modal-dialog .modal-body .row .bg-exit {
    display: none;
  }

  /* section1 */
  .section1 {
    height: auto;
    background-color: #d7e2e4;
  }

  .section1 .col-lg-4,
  .section1 .col-lg-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .section1 .top {
    background-color: #d7e2e4;
    width: 100%;
    padding-top: 140px;
  }

  .section1 .top .bg-black {
    width: 100%;
    height: 600px;
    position: absolute;
    background-color: #2a2a2a;
    top: 0px;
  }

  .section1 .top .text {
    color: #ffffff;
  }

  .section1 .top .text a {
    font-size: 12px;
    color: #2a2a2a;
    background-color: #ffffff;
    padding: 8px 20px;
    border-radius: 26px;
  }

  .section1 .top .text h2 {
    font-size: 40px;
    font-weight: 600;
  }

  .section1 .top .text h2 span {
    font-family: "HolidayFree", sans-serif;
    font-weight: 500;
  }

  .section1 .top .text h3 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 38px;
  }

  .section1 .col-lg-4 .images {
    display: flex;
    justify-content: center;
  }

  .section1 .buy-btn {
    position: relative;
    top: 120px;
    z-index: 10;
  }

  .section1 .col-lg-4 .images .cctv {
    width: 450px;
    height: auto;
  }

  .section1 .col-lg-4 p {
    font-weight: 200;
    color: #000000 !important;
    font-size: 16px;
  }

  .section1 .col-lg-4 .button {
    gap: 20px;
  }

  .section1 .col-lg-4 .button .button-left {
    padding: 8px 20px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 27px;
    color: #000000;
  }

  .section1 .col-lg-4 .button .button-left button {
    color: #000000;
    font-size: 14px;
    background-color: transparent;
    border: none;
  }

  .section1 .buy-btn .button .button-right {
    padding: 8px 8px 8px 14px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 27px;
    color: #000000;
    transition: 0.3s ease-in-out;
    gap: 10px;
  }

  .section1 .buy-btn .button .button-right a{
    color: black;
    text-decoration: none;
  }

  .section1 .buy-btn .button .button-right:hover {
    transform: scale(0.9);
  }

  .section1 .col-lg-4 .button .button-right .arrow-right-column {
    background-color: #000000;
    color: white;
    width: max-content;
    padding: 1px 5px 0px 5px;
    border-radius: 60px;
  }

  .section1 .bottom {
    height: 600px;
    width: 100%;
  }

  .section1 .bottom h1 {
    font-size: 60px;
  }

  .section1 .bottom .wrapper-btn {
    margin-top: 60px;
    position: relative;
    top: -20px;
  }

  .section1 .bottom a {
    color: white;
    text-decoration: none;
    background-color: #000000;
    padding: 10px 28px;
    border-radius: 34px;
    font-size: 16px;
    font-weight: 500;
  }

  .section1 .bottom .card {
    background: transparent;
    border-radius: 0;
  }

  .section1 .bottom .card-top {
    border: none;
    /* border-bottom: 0.5px solid #000000;
    border-right: 0.5px solid #000000; */
  }

  .section1 .bottom .card-top .text {
    position: relative;
    top: 130px;
  }

  .section1 .bottom .card-top .text p {
    margin: 0px;
  }

  .section1 .bottom .card-bottom {
    border: none;
    /* border-right: 0.5px solid #000000; */
  }

  .section1 .bottom .card-bottom .text {
    padding: 20px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 148px;
  }

  .section1 .bottom .card-bottom .text h3 {
    font-size: 20px;
  }

  .section1 .bottom .card-bottom .text p {
    color: #737373b2;
    font-size: 16px;
  }

  .section1 .bottom .col-rectangle {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section1 .bottom .col-rectangle .images-right {
    display: none;
  }

  .section1 .bottom .col-rectangle h1 {
    font-family: "Holidayfree";
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    rotate: -4deg;
    margin-top: -560px;
    background: -webkit-linear-gradient(#575757, #acacac, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: max-content;
    padding: 12px 0px 12px 0px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {

  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register button i,
  .modal .modal-dialog .modal-body .row .form-login button i {
    background-color: white;
  }

  .modal {
    background-color: rgba(122, 122, 122, 0.397);
    backdrop-filter: blur(2px);
  }

  .show {
    display: block !important;
  }

  /* modal login */
  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-login .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log {
    margin-top: 1rem;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group {
    margin-left: auto;
    margin-right: auto;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  /* modal Registered */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    background-color: #d6e1e2;
    background-image: url(../images/bg-kotak.png);
    background-position: center;
    background-size: cover;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have,
  .modal .modal-dialog .modal-body .row .form-login .container .login {
    height: max-content;
    margin-top: 40px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row {
    gap: 10px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group input,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  .modal .modal-dialog .modal-body .row .bg-exit {
    display: none;
  }

  /* section1 */
  .section1 {
    height: auto;
    background-color: #d7e2e4;
  }

  .section1 .top {
    background-color: #d7e2e4;
    width: 100%;
    padding-top: 140px;
  }

  .section1 .top .bg-black {
    width: 100%;
    height: 600px;
    position: absolute;
    background-color: #2a2a2a;
    top: 0px;
  }

  .section1 .top .text {
    color: #ffffff;
  }

  .section1 .top .text a {
    font-size: 12px;
    color: #2a2a2a;
    background-color: #ffffff;
    padding: 8px 20px;
    border-radius: 26px;
  }

  .section1 .top .text h2 {
    font-size: 40px;
    font-weight: 600;
  }

  .section1 .top .text h2 span {
    font-family: "HolidayFree", sans-serif;
    font-weight: 500;
  }

  .section1 .top .text h3 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 38px;
  }

  .section1 .col-lg-4 .images {
    display: flex;
    justify-content: center;
  }

  .section1 .buy-btn {
    position: relative;
    top: 120px;
    z-index: 10;
  }

  .section1 .col-lg-4 .images .cctv {
    width: 450px;
    height: auto;
  }

  .section1 .col-lg-4 p {
    font-weight: 200;
    color: #000000 !important;
    font-size: 16px;
  }

  .section1 .col-lg-4 .button {
    gap: 20px;
  }

  .section1 .col-lg-4 .button .button-left {
    padding: 8px 20px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 27px;
    color: #000000;
  }

  .section1 .col-lg-4 .button .button-left button {
    color: #000000;
    font-size: 14px;
    background-color: transparent;
    border: none;
  }

  .section1 .buy-btn .button .button-right {
    padding: 8px 8px 8px 14px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 27px;
    color: #000000;
    transition: 0.3s ease-in-out;
    gap: 10px;
  }

  .section1 .buy-btn .button .button-right a{
    color: black;
    text-decoration: none;
  }

  .section1 .buy-btn .button .button-right:hover {
    transform: scale(0.9);
  }
  

  .section1 .col-lg-4 .button .button-right .arrow-right-column {
    background-color: #000000;
    color: white;
    width: max-content;
    padding: 1px 5px 0px 5px;
    border-radius: 60px;
  }

  .section1 .bottom {
    height: 600px;
    width: 100%;
  }

  .section1 .bottom h1 {
    font-size: 60px;
  }

  .section1 .bottom .wrapper-btn {
    margin-top: 60px;
    position: relative;
    top: -20px;
  }

  .section1 .bottom a {
    color: white;
    text-decoration: none;
    background-color: #000000;
    padding: 10px 28px;
    border-radius: 34px;
    font-size: 16px;
    font-weight: 500;
  }

  .section1 .bottom .card {
    background: transparent;
    border-radius: 0;
  }

  .section1 .bottom .card-top {
    border: none;
    /* border-bottom: 0.5px solid #000000;
    border-right: 0.5px solid #000000; */
  }

  .section1 .bottom .card-top .text {
    position: relative;
    top: 130px;
  }

  .section1 .bottom .card-top .text p {
    margin: 0px;
  }

  .section1 .bottom .card-bottom {
    border: none;
    /* border-right: 0.5px solid #000000; */
  }

  .section1 .bottom .card-bottom .text {
    padding: 40px 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 148px;
  }

  .section1 .bottom .card-bottom .text h3 {
    font-size: 20px;
  }

  .section1 .bottom .card-bottom .text p {
    color: #737373b2;
    font-size: 16px;
  }

  .section1 .bottom .col-rectangle {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section1 .bottom .col-rectangle .images-right {
    display: none;
  }

  .section1 .bottom .col-rectangle h1 {
    font-family: "Holidayfree";
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    rotate: -4deg;
    margin-top: -560px;
    background: -webkit-linear-gradient(#575757, #acacac, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: max-content;
    padding: 12px 0px 12px 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

  /* add modal */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register button i,
  .modal .modal-dialog .modal-body .row .form-login button i {
    background-color: white;
  }

  .modal {
    background-color: rgba(122, 122, 122, 0.397);
    backdrop-filter: blur(2px);
  }

  .show {
    display: block !important;
  }

  /* modal login */

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-login .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group {
    margin-left: auto;
    margin-right: auto;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  /* modal Registered */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    background-color: #d6e1e2;
    background-image: url(../images/bg-kotak.png);
    background-position: center;
    background-size: cover;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have,
  .modal .modal-dialog .modal-body .row .form-login .container .login {
    height: max-content;
    margin-top: 40px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row {
    gap: 10px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group input,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  .modal .modal-dialog .modal-body .row .bg-exit {
    display: none;
  }

  /* section1 */
  .section1 {
    height: auto;
    background-color: #d7e2e4;
  }

  .section1 .top {
    background-color: #d7e2e4;
    width: 100%;
    padding-top: 140px;
  }

  .section1 .top .bg-black {
    width: 100%;
    height: 600px;
    position: absolute;
    background-color: #2a2a2a;
    top: 0px;
  }

  .section1 .top .text {
    color: #ffffff;
  }

  .section1 .top .text a {
    font-size: 12px;
    color: #2a2a2a;
    background-color: #ffffff;
    padding: 8px 20px;
    border-radius: 26px;
  }

  .section1 .top .text h2 {
    font-size: 40px;
    font-weight: 600;
  }

  .section1 .top .text h2 span {
    font-family: "HolidayFree", sans-serif;
    font-weight: 500;
  }

  .section1 .top .text h3 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 12px;
  }

  .section1 .col-lg-4 .images {
    display: flex;
    justify-content: center;
  }

  .section1 .buy-btn {
    position: relative;
    top: 120px;
    z-index: 10;
  }

  .section1 .col-lg-4 .images .cctv {
    width: 550px;
    height: auto;
  }

  .section1 .col-lg-4 p {
    font-weight: 200;
    color: #000000 !important;
    font-size: 16px;
  }

  .section1 .col-lg-4 .button {
    gap: 20px;
  }

  .section1 .col-lg-4 .button .button-left {
    padding: 8px 20px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 27px;
    color: #000000;
  }

  .section1 .col-lg-4 .button .button-left button {
    color: #000000;
    font-size: 14px;
    background-color: transparent;
    border: none;
  }
  .section1 .buy-btn .button .button-right {
    padding: 8px 8px 8px 14px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 27px;
    color: #000000;
    transition: 0.3s ease-in-out;
    gap: 10px;
  }

  .section1 .buy-btn .button .button-right a{
    color: black;
    text-decoration: none;
  }

  .section1 .buy-btn .button .button-right:hover {
    transform: scale(0.9);
  }
  
  .section1 .col-lg-4 .button .button-right .arrow-right-column {
    background-color: #000000;
    color: white;
    width: max-content;
    padding: 1px 5px 0px 5px;
    border-radius: 60px;
  }

  .section1 .bottom {
    height: 600px;
    width: 100%;
  }

  .section1 .bottom h1 {
    font-size: 60px;
  }

  .section1 .bottom .wrapper-btn {
    margin-top: 60px;
    position: relative;
    top: -20px;
  }

  .section1 .bottom a {
    color: white;
    text-decoration: none;
    background-color: #000000;
    padding: 10px 28px;
    border-radius: 34px;
    font-size: 16px;
    font-weight: 500;
  }

  .section1 .bottom .card {
    background: transparent;
    border-radius: 0;
  }

  .section1 .bottom .card-top {
    border: none;
    /* border-bottom: 0.5px solid #000000;
    border-right: 0.5px solid #000000; */
  }

  .section1 .bottom .card-top .text {
    position: relative;
    top: 130px;
  }

  .section1 .bottom .card-top .text p {
    margin: 0px;
  }

  .section1 .bottom .card-bottom {
    border: none;
    /* border-right: 0.5px solid #000000; */
  }

  .section1 .bottom .card-bottom .text {
    padding: 40px 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 148px;
  }

  .section1 .bottom .card-bottom .text h3 {
    font-size: 20px;
  }

  .section1 .bottom .card-bottom .text p {
    color: #737373b2;
    font-size: 16px;
  }

  .section1 .bottom .col-rectangle {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section1 .bottom .col-rectangle .images-right {
    display: none;
  }

  .section1 .bottom .col-rectangle h1 {
    font-family: "Holidayfree";
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    rotate: -4deg;
    margin-top: -560px;
    background: -webkit-linear-gradient(#575757, #acacac, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: max-content;
    padding: 12px 0px 12px 0px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

  /* add modal */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register button i,
  .modal .modal-dialog .modal-body .row .form-login button i {
    background-color: white;
  }

  .modal {
    background-color: rgba(122, 122, 122, 0.397);
    backdrop-filter: blur(2px);
  }

  .show {
    display: block !important;
  }

  /* modal login */

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-login .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group {
    margin-left: auto;
    margin-right: auto;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  /* modal Registered */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    background-color: #d6e1e2;
    background-image: url(../images/bg-kotak.png);
    background-position: center;
    background-size: cover;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have,
  .modal .modal-dialog .modal-body .row .form-login .container .login {
    height: max-content;
    margin-top: 40px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account {
    display: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row {
    gap: 10px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group input,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  .modal .modal-dialog .modal-body .row .bg-exit {
    display: none;
  }


  /* section1 */
  .section1 {
    height: auto;
    background-color: #d7e2e4;
  }

  .section1 .top {
    background-color: #2a2a2a;
    width: 100%;
    height: 400px;
    padding-top: 140px;
  }

  .section1 .top .text {
    color: #ffffff;
  }

  .section1 .top .text a {
    font-size: 12px;
    color: #2a2a2a;
    background-color: #ffffff;
    padding: 8px 20px;
    border-radius: 26px;
  }

  .section1 .top .text h2 {
    font-size: 40px;
    font-weight: 600;
  }

  .section1 .top .text h2 span {
    font-family: "HolidayFree", sans-serif;
    font-weight: 500;
  }

  .section1 .top .text h3 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 12px;
  }

  .section1 .col-lg-4 .images {
    position: relative;
    right: 140px;
    bottom: 60px;
  }

  .section1 .col-lg-4 .images .cctv {
    width: 550px;
    height: auto;
  }

  .section1 .col-lg-4 p {
    font-weight: 200;
    color: #ffffff;
    font-size: 16px;
  }

  .section1 .col-lg-4 .button {
    gap: 20px;
  }

  .section1 .col-lg-4 .button .button-left {
    padding: 8px 20px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 27px;
    color: white;
  }

  .section1 .col-lg-4 .button .button-left button {
    color: white;
    font-size: 14px;
    background-color: transparent;
    border: none;
  }

  .section1 .col-lg-4 .button .button-right {
    padding: 8px 8px 8px 14px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 27px;
    color: white;
  }

  .section1 .col-lg-4 .button .button-right a {
    color: white;
    font-size: 14px;
    background-color: transparent;
    border: none;
    text-decoration: none;
  }

  .section1 .col-lg-4 .button .button-right {
    gap: 10px;
  }

  .section1 .col-lg-4 .button .button-right .arrow-right-column {
    background-color: white;
    color: black;
    width: max-content;
    padding: 1px 5px 0px 5px;
    border-radius: 60px;
  }

  .section1 .bottom {
    height: 600px;
    width: 100%;
  }

  .section1 .bottom h1 {
    font-size: 60px;
  }

  .section1 .bottom .wrapper-btn {
    margin-top: 60px;
    position: relative;
    top: 10px;
  }

  .section1 .bottom a {
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px 28px;
    border-radius: 34px;
    font-size: 16px;
    font-weight: 500;
  }

  .section1 .bottom .card {
    background: transparent;
    border-radius: 0;
  }

  .section1 .bottom .card-top {
    border: none;
    border-bottom: 0.5px solid #000000;
    border-right: 0.5px solid #000000;
  }

  .section1 .bottom .card-bottom {
    border: none;
    border-right: 0.5px solid #000000;
  }

  .section1 .bottom .card-bottom .text {
    padding: 40px 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .section1 .bottom .card-bottom .text h3 {
    font-size: 20px;
  }

  .section1 .bottom .card-bottom .text p {
    color: #737373b2;
    font-size: 16px;
  }

  .section1 .bottom .col-rectangle {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section1 .bottom .col-rectangle .images-right {
    margin-top: 100px;
  }

  .section1 .bottom .col-rectangle .images-right img {
    width: 320px;
    height: auto;
  }

  .section1 .bottom .col-rectangle h1 {
    font-family: "Holidayfree";
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    rotate: -4deg;
    margin-top: -30px;
    background: -webkit-linear-gradient(#575757, #acacac, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: max-content;
    padding: 12px 0px 12px 0px;
  }
}

@media screen and (min-width: 1200px) {

  .modal .modal-dialog .modal-body .row .form-register button i,
  .modal .modal-dialog .modal-body .row .form-login button i {
    display: none;
  }

  /* add modal */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    display: none;
  }

  .modal {
    background-color: rgba(122, 122, 122, 0.397);
    backdrop-filter: blur(2px);
  }

  .show {
    display: block !important;
  }

  /* modal login */
  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account p {
    font-size: 8px;
    border-radius: 70px;
    background-color: #2a2a2a;
    color: white;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account img {
    position: absolute;
    margin-left: 22px;
    margin-top: -15px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-login .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account button {
    font-size: 12px;
    border-radius: 50px;
    background-color: #2a2a2a;
    color: white;
    position: absolute;
    z-index: 1;
    transform: rotate(-90deg);
    margin-left: 30px;
    width: max-content;
    margin-top: -40px;
    transition: 0.2s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .login .login-account button:hover {
    transform: rotate(-86deg);
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-login .container .form-log .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group {
    margin-left: auto;
    margin-right: auto;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-login .container .form-log .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  /* modal Registered */
  .modal .modal-dialog .modal-body .row .form-register,
  .modal .modal-dialog .modal-body .row .form-login {
    background-color: #d6e1e2;
    background-image: url(../images/bg-kotak.png);
    background-position: center;
    background-size: cover;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have,
  .modal .modal-dialog .modal-body .row .form-login .container .login {
    height: max-content;
    margin-top: 40px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account p {
    font-size: 8px;
    border-radius: 50px;
    background-color: #2a2a2a;
    color: white;
    transform: rotate(-8deg);
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account img {
    position: absolute;
    margin-left: 45px;
    margin-top: -15px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account .btn:focus,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account button {
    font-size: 12px;
    border-radius: 50px;
    background-color: #2a2a2a;
    color: white;
    position: absolute;
    z-index: 1;
    transform: rotate(-90deg);
    margin-left: 80px;
    width: max-content;
    margin-top: -40px;
    transition: 0.2s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .have .have-account button:hover {
    transform: rotate(-80deg);
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row {
    gap: 10px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group {
    background-color: rgba(138, 142, 143, 22%);
    border-radius: 60px;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .nameuser .row .col .input-group input,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group .input-group-prepend span,
  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .input-group input {
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 80px 10px 80px;
    border-radius: 60px;
    border: 2px solid #2a2a2a;
    transition: 0.6s ease-in-out;
  }

  .modal .modal-dialog .modal-body .row .form-register .container .form-reg .btn-group .btn:hover {
    background-color: transparent;
    color: #2a2a2a;
    border: 2px solid #2a2a2a;
  }

  .modal .modal-dialog .modal-body .row .bg-exit {
    background-image: url(../images/bg-modal.png);
    width: 100%;
    height: 70vh;
    background-position: center;
    background-repeat: repeat;
  }

  .modal .modal-dialog .modal-body .row .bg-exit button i {
    background-color: white;
  }

  /* section1 */
  .section1 {
    height: auto;
    background-color: #d7e2e4;
  }

  .section1 .top {
    background-color: #2a2a2a;
    width: 100%;
    height: 400px;
    padding-top: 140px;
  }

  .section1 .top .text {
    color: #ffffff;
  }

  .section1 .top .text a {
    font-size: 12px;
    color: #2a2a2a;
    background-color: #ffffff;
    padding: 8px 20px;
    border-radius: 26px;
  }

  .section1 .top .text h2 {
    font-size: 40px;
    font-weight: 600;
  }

  .section1 .top .text h2 span {
    font-family: "HolidayFree", sans-serif;
    font-weight: 500;
  }

  .section1 .top .text h3 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 12px;
  }

  .section1 .col-lg-4 .images {
    position: relative;
    right: 140px;
    bottom: 60px;
  }

  .section1 .col-lg-4 .images .cctv {
    width: 550px;
    height: auto;
  }

  .section1 .col-lg-4 p {
    font-weight: 200;
    color: #ffffff;
    font-size: 16px;
  }

  .section1 .col-lg-4 .button {
    gap: 20px;
  }

  .section1 .col-lg-4 .button .button-left {
    padding: 8px 20px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 27px;
    color: white;
  }

  .section1 .col-lg-4 .button .button-left button {
    color: white;
    font-size: 14px;
    background-color: transparent;
    border: none;
  }

  .section1 .col-lg-4 .button .button-right {
    padding: 8px 8px 8px 14px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 27px;
    color: white;
  }

  .section1 .col-lg-4 .button .button-right a {
    color: white;
    font-size: 14px;
    background-color: transparent;
    border: none;
    text-decoration: none;
  }

  .section1 .col-lg-4 .button .button-right {
    gap: 10px;
  }

  .section1 .col-lg-4 .button .button-right .arrow-right-column {
    background-color: white;
    color: black;
    width: max-content;
    padding: 1px 5px 0px 5px;
    border-radius: 60px;
  }

  .section1 .bottom {
    height: 600px;
    width: 100%;
  }

  .section1 .bottom h1 {
    font-size: 60px;
  }

  .section1 .bottom .wrapper-btn {
    margin-top: 60px;
    position: relative;
    top: 10px;
  }

  .section1 .bottom a {
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px 28px;
    border-radius: 34px;
    font-size: 16px;
    font-weight: 500;
  }

  .section1 .bottom .card {
    background: transparent;
    border-radius: 0;
  }

  .section1 .bottom .card-top {
    border: none;
    border-bottom: 0.5px solid #000000;
    border-right: 0.5px solid #000000;
  }

  .section1 .bottom .card-bottom {
    border: none;
    border-right: 0.5px solid #000000;
  }

  .section1 .bottom .card-bottom .text {
    padding: 40px 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .section1 .bottom .card-bottom .text h3 {
    font-size: 20px;
  }

  .section1 .bottom .card-bottom .text p {
    color: #737373b2;
    font-size: 16px;
  }

  .section1 .bottom .col-rectangle {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section1 .bottom .col-rectangle .images-right {
    margin-top: 100px;
  }

  .section1 .bottom .col-rectangle .images-right img {
    width: 320px;
    height: auto;
  }

  .section1 .bottom .col-rectangle h1 {
    font-family: "Holidayfree";
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    rotate: -4deg;
    margin-top: -30px;
    background: -webkit-linear-gradient(#575757, #acacac, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: max-content;
    padding: 12px 0px 12px 0px;
  }
}

