@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #2a2a2a !important;
}

@media screen and (min-width: 1200px) {
  /* section1 */
  .page-product .section1 {
    background-image: url(../images/product-backgorund-section1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-product .section1 .container {
    display: flex;
    justify-content: center;
  }

  .page-product .section1 .container .text-section1 {
    width: max-content;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 20px 10px 20px;
    border-radius: 34px;
    margin-top: 194px;
  }

  .page-product .section1 .container .text-section1 p {
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin: 0px !important;
  }

  /* section2 */
  .page-product .section2 .container-fluid .row .background-kiri {
    height: 230px;
    background: linear-gradient(23deg, #0f0f0f, #2a2a2a);
  }

  .page-product .section2 .container-fluid .row .background-kiri .img-lampu {
    background-color: rgba(255, 255, 255, 0.2);
    width: max-content;
    height: max-content;
    border-radius: 100%;
    padding: 10px 10px 0px 10px;
    transform: rotate(14deg);
    position: absolute;
    top: -50px;
  }

  .page-product .section2 .container-fluid .row .background-tengah {
    background-image: url(../images/product-bg-multi-persegi.png);
    background-color: #2a2a2a;
  }

  .page-product .section2 .container-fluid .row .background-tengah .column-tengah {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .page-product .section2 .container-fluid .row .background-tengah .text-left h1 {
    font-size: 28px;
    color: white;
    font-weight: medium;
  }

  .page-product .section2 .container-fluid .row .background-tengah .text-left p {
    font-size: 12.5px;
    color: white;
    font-weight: 300;
  }

  .page-product .section2 .container-fluid .row .background-tengah .text-left .btn-primary {
    background-color: white;
    border: none;
    color: black;
    border-radius: 8.85px;
    font-weight: medium;
    font-size: 12px;
  }

  .page-product .section2 .container-fluid .row .background-tengah .profile-kanan .profile-picture img {
    width: 38px;
    height: 38px;
    margin-left: -6px;
  }

  .page-product .section2 .container-fluid .row .background-tengah .profile-kanan .profile-picture img:nth-child(1) {
    z-index: 1;
  }

  .page-product .section2 .container-fluid .row .background-tengah .profile-kanan .profile-picture .tanda-panah {
    position: absolute;
    left: 18vw;
    top: 18px;
  }

  .page-product .section2 .container-fluid .row .background-tengah .profile-kanan .profile-picture .bintang {
    gap: 16px;
  }

  .page-product .section2 .container-fluid .row .background-tengah .profile-kanan .profile-picture .bintang img {
    width: 16px;
    height: 16px;
  }
  .page-product .section2 .container-fluid .row .background-kanan {
    background-image: url(../images/product-bg-kanan-section2.png);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-product .section2 .container-fluid .row .background-kanan img {
    width: 70px;
    height: 70px;
  }

  /* section3 */
  .section3 {
    height: 100vh;
    background-color: #d7e2e4;
    background-image: url(../images/product-elipse-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
  }

  .section3 .container-fluid {
    height: 100vh;
  }

  .section3 .container-fluid h1 {
    font-weight: 600;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 100%), rgba(255, 255, 255, 0%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 60px;
    font-size: 40px;
  }

  .section3 .container-fluid .img-tengah {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
  }

  .section3 .container-fluid .img-tengah img {
    width: 200px;
    height: 200px;
  }

  .section3 .container-fluid .img-tengah img:nth-child(1) {
    background-color: rgba(173, 173, 173, 0.2);
    border-radius: 100%;
    padding: 16px 16px 6px 16px;
    margin-top: -75px;
  }

  .section3 .container-fluid .img-tengah img:nth-child(3) {
    margin-top: -8px;
  }

  .section3 .container-fluid .img-blur img:nth-child(1) {
    position: relative;
    top: -400px;
    left: 1010px;
  }

  .section3 .container-fluid .img-blur img:nth-child(2) {
    position: relative;
    top: -6px;
    left: -134px;
  }

  /* section4 */
  .section4 {
    height: max-content;
    padding-bottom: 50px;
  }

  .section4 .container .button-control-items {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section4 .container .button-control-items .nav-category {
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgba(173, 173, 173, 0.2);
    padding: 10px 12px 10px 12px;
    border-radius: 82px;
  }

  .section4 .container .button-control-items .nav-category button {
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    padding: 6px 26px 6px 26px;
    border-radius: 54px;
    background: none;
    outline: none;
    border: none;
  }

  .section4 .container .button-control-items .nav-category .nav-active {
    font-size: 18px;
    font-weight: normal;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 6px 26px 6px 26px;
    border-radius: 54px;
    transition: 0.5s ease-in-out;
  }

  .section4 .container .content-button {
    margin-top: 80px;
  }

  .section4 .container .content-button .row {
    row-gap: 40px;
  }

  .section4 .container .content-button .row .items {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section4 .container .content-button .row .items .card {
    width: 100%;
    background: none;
    border: none;
  }

  .section4 .container .content-button .row .items .card .img-box {
    width: 50%;
    height: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .section4 .container .content-button .row .items .card .card-body h3 {
    font-size: 16px;
    color: white;
    text-align: center;
  }

  .section4 .container .content-button .row .items .card .card-body p:first-of-type {
    font-size: 12px;
    color: black;
    background-color: white;
    padding: 4px 14px 4px 15px;
    border-radius: 22px;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
  }

  .section4 .container .content-button .row .items .card .card-body p:last-of-type {
    font-size: 16px;
    color: white;
    text-align: center;
  }

  .section5 {
    height: 200px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
  }

  .section6 {
    height: max-content;
  }
  .section6 .container-fluid .content-sec6 {
    margin-top: -30px;
  }

  .section6 .container-fluid .title-sec6 {
    margin-left: 90px;
  }

  /* Bagian Kiri */

  .section6 .container-fluid .content-sec6 .col-lg-7 .row .column-kiri {
    width: 100%;
    height: 320px;
    background-image: url(../images/img-sofa.png);
    margin-top: 160px;
  }

  .section6 .container-fluid .content-sec6 .col-lg-7 .row .border-silver-bawah {
    width: 100%;
    height: 160px;
    border-right: 4px solid silver;
    border-bottom-right-radius: 10px;
    margin-left: 2px;
    background-color: #d7e2e4;
  }

  .section6 .container-fluid .content-sec6 .col-lg-7 .row .column-kiri .search {
    width: 80%;
  }

  .section6 .container-fluid .content-sec6 .col-lg-7 .row .column-kiri .search .input-group input {
    border: none;
    background-color: #dcdde1;
    border-radius: 50px;
  }

  .section6 .container-fluid .content-sec6 .col-lg-7 .row .column-kiri .search .input-group .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .section6 .container-fluid .content-sec6 .col-lg-7 .row .column-kiri .search .input-group .form-control::placeholder {
    color: #737373;
  }

  /* Bagian Kanan */

  .section6 .container-fluid .content-sec6 .col-lg-5 .row .border-silver-atas {
    width: 100%;
    height: 160px;
    border-left: 4px solid silver;
    border-top: 4px solid silver;
    border-top-left-radius: 10px;
    margin-left: 13px;
    padding: 0px;
  }
  .section6 .container-fluid .content-sec6 .col-lg-5 .row .bg-bawah {
    width: 100%;
    height: 160px;
    background-color: #d7e2e4;
    z-index: -1;
  }

  .section6 .container-fluid .content-sec6 .col-lg-5 .row .column-kanan {
    max-width: 100%;
    height: 320px;
    background-color: #1e1e1e;
    padding: 0px;
    margin-left: 15px;
  }

  .section6 .container-fluid .content-sec6 .col-lg-5 .row .column-kanan .title,
  .section6 .container-fluid .content-sec6 .col-lg-5 .row .column-kanan .text-secondary {
    color: var(--bg-white) !important;
  }

  .section6 .container-fluid .content-sec6 .pesawat {
    position: absolute;
    top: 341px;
    z-index: 999;
    left: -25px;
  }

  .section6 .container-fluid .content-sec6 .pesawat img {
    box-shadow: 0px 0px 30px #d7e2e4;
    border-radius: 54px;
  }
}
